<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headFragment">



    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="/main/resources/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/main/resources/static/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=
                Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">


    <style>
        body {
            padding-top: 56px;
            font-family: 'Nunito';
            letter-spacing: 0.0625em;
        }

        .addedMargin {
            margin-right: 1rem;
        }
    </style>
    <!-- Custom styles for this template -->
    <!--<link href="css/blog-home.css" rel="stylesheet">-->
</head>

<body>
<div th:fragment="topNavigation" class="navContainer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand text-muted" th:text="${'Welcome, anonymous'}" th:if="${sessionUser == null}"></a>
            <a class="navbar-brand text-muted" th:text="${'Welcome, ' + sessionUser.username}"
               th:if="${sessionUser != null}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item addedMargin active">
                        <a class="btn btn-dark" href="/">Home
                        </a>
                    </li>

                    <li class="nav-item addedMargin" th:if="${sessionUser != null}">
                        <a class="btn btn-dark" th:href="@{/entry}" th:if="${sessionUser.admin}">Write Entry</a>
                    </li>
                    <li class="nav-item addedMargin" th:if="${sessionUser != null}">
                        <a class="btn btn-dark" th:href="@{/userlist}" th:if="${sessionUser.admin}">View Users</a>
                    </li>
                    <li class="nav-item addedMargin" th:if="${sessionUser != null}">
                        <a class="btn btn-dark" th:href="@{/makeCategories}" th:if="${sessionUser.admin}">Make
                            Category</a>
                    </li>
                    <li class="nav-item addedMargin">
                        <a class="btn btn-dark" th:href="@{/login}" th:if="${sessionUser == null}">Login</a>
                    </li>
                    <li class="nav-item addedMargin">
                        <a class="btn btn-dark" th:href="@{/register}" th:if="${sessionUser == null}">Registration</a>
                    </li>
                    <li class="nav-item addedMargin">
                        <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                            <button type="submit" class="btn btn-dark" th:href="@{/static}"
                                    th:if="${sessionUser != null}">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
<footer th:fragment="footer" class="py-5 bg-dark" >
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; by Lorenz and Uwe 2020</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</footer>
</html>