<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/navigationFragment.html :: headFragment">
</head>
<body>

<div th:replace="fragments/navigationFragment.html :: topNavigation"></div>

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">
            <h1 class="my-4">Entries in <span th:text="${categoryname}"></span></h1>

            <!-- Blog Post -->
            <div th:each="entry:${category.getEntries()}">
                <div class="card mb-4 bg-dark text-center">
                    <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
                    <div class="card-body">
                        <h2 class="card-title text-white" th:text="${entry.title}"></h2>
                        <a th:href="@{/entryEdit/{entryId}(entryId=${entry.getId()})}" class="btn btn-primary">Read More
                            &rarr;</a>
                    </div>
                    <div class="card-footer text-muted"
                         th:text="${#dates.format(entry.getPostedAt(), 'dd-MM-yyyy, HH:mm')}+' by '+${entry.user.username}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:insert="fragments/navigationFragment.html :: footer"></footer>

</body>
</html>