<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navigationFragment.html :: headFragment">
</head>
<body>
<!-- Navigation -->

<div th:replace="fragments/navigationFragment.html :: topNavigation"></div>

<!-- Page Content -->
<br>
<br>
<div class="container" th:if="${sessionUser!= null}">

    <div class="row">

        <div class="col-md-12" th:if="${sessionUser.admin == true}">
            <div class="card mb-4 bg-dark text-center">
                <div class="card-body">
                    <form th:action="@{/entryEdit/{entryId}(entryId=${entry.getId()})}" th:object="${entry}"
                          method="post">
                        <h5 class="card-title text-white">Title:
                            <textarea rows="3" cols="60" class="form-control" type="text" th:field="*{title}"></textarea>
                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                        </h5>
                        <p class="card-text text-white">Text:
                            <textarea rows="6" cols="60" class="form-control" type="text" th:field="*{text}"></textarea>
                            <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                        </p>
                        <p><input class="btn btn-success" type="submit"></p>
                    </form>

                    <form th:action="@{/addEntryCategory/{entryId}(entryId=${entry.getId()})}"
                          th:object="${categoryDTO}" method="post">
                        <select class="form-control" th:field="*{categoryId}">
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"
                            ></option>
                        </select>
                        <br>
                        <button class="btn btn-secondary" type="submit">Add</button>
                    </form>
                    <br>
                    <form th:action="@{/entryDelete/{entryId}(entryId=${entry.getId()})}" th:object="${entry}"
                          method="post">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted"
                     th:text="${#dates.format(entry.getPostedAt(), 'dd-MM-yyyy, HH:mm')}+' by '+${entry.user.username}">
                </div>
            </div>
        </div>


        <!-- No Admin on Site -->

        <!-- Blog Entries Column -->
        <div class="col-md-12" th:if="${sessionUser.admin == false}">
            <div class="card mb-4 bg-dark text-center">
                <div class="card-header">
                    <h5 class="card-title text-white" th:text="${entry.title}"></h5>
                </div>
                <div class="card-body bg-secondary">
                    <p class="card-text text-white" th:utext="${#strings.replace( #strings.escapeXml(entry.text),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
                </div>
                <div class="card-footer text-muted"
                     th:text="${#dates.format(entry.getPostedAt(), 'dd-MM-yyyy, HH:mm')}+' by '+${entry.user.username}">
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div>
                <br>
                <br>
                <h2>Comments</h2>
            </div>
            <form th:action="@{/addComment/{entryId}(entryId=${entry.getId()})}" th:object="${newcomment}"
                  method="post">
                <textarea class="form-control" th:field="*{text}"></textarea>
                <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                <br>
                <input th:type="hidden" th:value="${entry.id}" name="entryId">
                <button class="btn btn-dark" type="submit">Send</button>
            </form>
            <br>
            <br>
            <form th:action="@{/removeComment/{entryId}(entryId=${entry.getId()})}" th:object="${newcomment}"
                  method="post">
                <div th:each="commentbefore : ${entry.getComments()}">
                    <div class="card mb-4 bg-dark text-center">
                        <div class="card-body ">
                            <p class="card-text text-white" th:text="${commentbefore.text}"></p>
                            <div th:if="${sessionUser.admin or sessionUser == commentbefore.user}">
                                <input th:type="hidden" th:value="${commentbefore.id}" name="commentId">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </div>
                        </div>
                        <div class="card-footer text-muted"
                             th:text="${#dates.format(commentbefore.getPostedAt(), 'dd-MM-yyyy, HH:mm')}+' by '+${commentbefore.user.username}">
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-md-4">


            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li th:each="category:${entry.getCategories()}">
                                    <a th:href="@{/{categoryname}(categoryname=${category.getName()})}"
                                       th:text="${category.name}"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- No User on Site -->

<div class="container" th:if="${sessionUser}==null">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">
            <div class="card mb-4 bg-dark text-center">
                <div class="card-header">
                    <h5 class="card-title text-white" th:text="${entry.title}"></h5>
                </div>
                <div class="card-body bg-secondary">
                    <p class="card-text text-white" th:utext="${#strings.replace( #strings.escapeXml(entry.text),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></p>
                </div>
                <div class="card-footer text-muted"
                     th:text="${#dates.format(entry.getPostedAt(), 'dd-MM-yyyy, HH:mm')}+' by '+${entry.user.username}">
                </div>
            </div>
        </div>


        <div class="col-md-8">
            <div>
                <br>
                <br>
                <h2>Comments</h2>
            </div>
            <div th:each="commentbefore : ${entry.getComments()}">
                <div class="card mb-4 bg-dark text-center">
                    <div class="card-body ">
                        <p class="card-text text-white" th:text="${commentbefore.text}"></p>
                    </div>
                    <div class="card-footer text-muted"
                         th:text="${#dates.format(commentbefore.getPostedAt(), 'dd-MM-yyyy, HH:mm')}+' by '+${commentbefore.user.username}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li th:each="category:${entry.getCategories()}">
                                    <a th:href="@{/{categoryname}(categoryname=${category.getName()})}"
                                       th:text="${category.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="fragments/navigationFragment.html :: footer"></footer>

</body>
</html>