<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/navigationFragment.html :: headFragment">
</head>
<body>
<!-- Navigation -->

<div th:replace="fragments/navigationFragment.html :: topNavigation"></div>

<!-- Page Content -->

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">Entries

            </h1>

            <!-- Blog Post -->
            <div th:each="entry: ${entries}">
                <div class="card mb-4 bg-dark text-center h-100 project">
                    <!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
                    <div class="card-body">
                        <h2 class="card-title text-white" th:text="${entry.title}"></h2>
                        <a th:href="@{/entryEdit/{entryId}(entryId=${entry.getId()})}" class="btn btn-primary">Read More
                            &rarr;</a>
                    </div>
                    <div class="card-footer text-muted"
                         th:text="${#dates.format(entry.getPostedAt(), 'dd-MM-yyyy, HH:mm')}+' by '+${entry.user.username}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <!-- Categories Widget -->
            <div class="card my-4" id="sticky">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li th:each="category:${categories}">
                                    <a th:href="@{/{categoryname}(categoryname=${category.getName()})}"
                                       th:text="${category.name}"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>



<footer th:insert="fragments/navigationFragment.html :: footer"></footer>



</body>
</html>
