<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/navigationFragment.html :: headFragment">
</head>
<body>
<!-- Navigation -->

<div th:replace="fragments/navigationFragment.html :: topNavigation"></div>


<div class="container" th:if="${sessionUser}!=null">
    <br>
    <br>
    <h5>New Category</h5>


    <form th:action="@{/addCategory}" th:object="${category}" method="post">
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" th:field="*{categoryName}">
            </div>
            <div class="col-md-4">
                <button class="btn btn-success" type="submit">Send</button>
            </div>
        </div>
    </form>

    <br>
    <br>
    <div class="row">
        <div th:each="categorypart : ${categories}">
            <div class="mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a th:href="@{/{categoryname}(categoryname=${categorypart.getName()})}"
                           th:text="${categorypart.name}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


<footer th:insert="fragments/navigationFragment.html :: footer"></footer>

</body>
</html>