<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/navigationFragment.html :: headFragment">
</head>
<body>
<!-- Navigation -->

<div th:replace="fragments/navigationFragment.html :: topNavigation"></div>


<div class="container" th:if="${sessionUser}!=null">

    <div class="row">

        <!-- Blog Entries Column -->

            <div th:each="user : ${userlist}">
                <div class="column">
                    <div class="card text-center">
                        <div class="text-white card-body bg-dark">
                            Username: <span th:text="${user.username}"></span>
                            <form class="button" th:object="${usertest}" method="post"
                                  th:action="@{/changeAdminStatus}">
                                <input th:type="hidden" th:value="${user.id}" name="id">

                                <div th:if="${user.admin and sessionUser.admin}">
                                    <input class="btn btn-danger" type="submit" th:value="RemoveAdmin"/>
                                </div>
                                <div th:if="${!user.admin and sessionUser.admin}">
                                    <input class="btn btn-success" type="submit" th:value="MakeAdmin"/>
                                </div>

                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/navigationFragment.html :: footer"></footer>
</body>
</html>